<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>picture</title>
  <link rel="stylesheet" href="css/pt.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Picture</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </header>

  <section class="hero">
    <div class="hero-content">
      <h1>Earth & Bell</h1>
      <p>I Love You</p>
      <a href="/" class="btn">Back</a>
    </div>
  </section>

  <section class="features">
    <div class="feature-box">
        <img src="pictures/1.jpg" alt="">
    </div>
    <div class="feature-box">
        <img src="pictures/2.jpg" alt="">
    </div>
    <div class="feature-box">
        <img src="pictures/3.jpg" alt="">
    </div>
    <div class="feature-box">
        <img src="pictures/4.jpg" alt="">
    </div>
    <div class="feature-box">
        <img src="pictures/5.jpg" alt="">
    </div>
    <div class="feature-box">
        <img src="pictures/6.jpg" alt="">
    </div>
    <div class="feature-box">
        <img src="pictures/7.jpg" alt="">
    </div>
    <div class="feature-box">
        <img src="pictures/8.jpg" alt="">
    </div>
    <div class="feature-box">
        <img src="pictures/9.jpg" alt="">
    </div>
    <div class="feature-box">
        <img src="pictures/10.jpg" alt="">
    </div>
    <div class="feature-box">
        <video controls>
          <source src="pictures/1.mp4" type="video/mp4">
        </video>
    </div>
    <div class="feature-box">
        <video controls>
          <source src="pictures/2.mp4" type="video/mp4">
        </video>
    </div>
    <div class="feature-box">
        <video controls>
          <source src="pictures/3.mp4" type="video/mp4">
        </video>
    </div>
    <div class="feature-box">
        <video controls>
          <source src="pictures/4.mp4" type="video/mp4">
        </video>
    </div>
    <div class="feature-box">
        <video controls>
          <source src="pictures/5.mp4" type="video/mp4">
        </video>
    </div>
  </section>
</body>
</html>
